<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Page</title>
</head>
<body>
	<h1>Add a new song:</h1>
	<form action="/songs" method="POST">
		<input type="text" name="name" placeholder="song name" /><br />
		<input type="text" name="album" placeholder="album" /><br />
		<input type="submit" value="Add!" />
	</form>
</body>
</html>